[ghq]
	root = ~/ghq/src
[core]
	editor = nvim
	quotepath = false
	pager = nkf -w | LESSCHARSET=utf-8 LESS=-RSX less
	excludesfile = ~/.gitignore_global
	ignorecase = false
	safecrlf = true
	autocrlf = false
[color]
	ui = true
[color "diff"]
	meta = yellow
[alias]
	s = status --short
	lg = !lazygit
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = nvim -d "$LOCAL" "$REMOTE"
[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = nvim -d "$LOCAL" "$MERGED" "$REMOTE"
[rebase]
	autostash = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[user]
	name = et8x8
	email = 58-slicers.moxie@icloud.com
[difftool]
	prompt = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper =
[credential "https://github.com"]
	helper = !{{ lookPath "gh" }} auth git-credential
[credential "https://gist.github.com"]
	helper = !{{ lookPath "gh" }} auth git-credential
